body {
  background: #ddc2c2;
  font-family: SF Pro Display;
  color: #2F4959;
  margin:auto;
  width: 90%;
  
}
a:hover{
  background-color:yellow;
  color: black;
  padding: 5px;
}

h1{
  text-align: center
}

th,
th {
  padding: 5px 25px 5px 25px;
  border-spacing: 30px;
  font-size: 50xp;
  margin: 10px;
  color: black;
  background-color: rgb(25, 37, 59);
}
#titulo{
  font: black;
}
